@{
  Layout = "_Layout";
}

@using BestRestaurant.Models;
@model List<BestRestaurant.Models.Restaurant>;

<h1>Restaurants</h1>

@if (@Model.Count == 0)
{
  <h3>No cuisiness have been added yet!</h3>
} 

@foreach (Cuisine cuisine in Model)
{
  <li>@Html.ActionLink($"{cuisine.Name}", "Details", new { id = cuisine.CuisineId })</li>
}
<p>@Html.ActionLink("Add new Cuisine", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>